{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.md", "*.yml", "*.yaml"],
      "options": {
        "printWidth": 120,
        "singleQuote": false,
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 80,
        "trailingComma": "none"
      }
    }
  ]
}